body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: url(../img/banner.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.navbar-brand {
    color: white!important;
    font-size: 28px!important;
}

.navbar {
    background: #33bf51!important;
    border-radius: 0px!important;
    margin-bottom: 0!important;
}

.form_footer {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.10);
    padding: 1em 1em;
    margin-top: 2em;
}

.form_footer h5 {
    color: #33bf51;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}

ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a.fa {
    font-size: 16px;
    margin: 0 .7em;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.10);
    line-height: 37px;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul.social-icons li a.fa.fa-facebook:hover {
    background: #3b5998;
}

ul.social-icons li a.fa.fa-twitter:hover {
    background: #1da1f2;
}

ul.social-icons li a.fa.fa-google-plus:hover {
    background: #dd4b39;
}

ul.social-icons li a.fa.fa-instagram:hover {
    background: red;
}

ul.social-icons li a.fa:hover {
    color: #fff;
}



/*--login_form--*/

.login_form {
    margin: 2em auto;
    background: rgba(0, 0, 0, 0.70);
    padding: 2.3em 2em;
}

.login_form h2 {
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 1em;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.login_form input[type="text"],
.login_form input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
}

.login_form .input_box:nth-child(1) {
    margin-bottom: 1.3em;
}

.login_form input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    border: none;
    color: #fff;
    background: #3dace1;
    padding: 0.7em 3em;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.login_form input[type="submit"]:hover {
    background: #33bf51;
    color: #000;
}

.input_box {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 12px 12px 12px 4px;
    background: rgba(132, 132, 132, 0.27);
}

.input_box span {
    flex-basis: 10%;
    -webkit-flex-basis: 10%;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    line-height: 40px;
}

.input_box input[type="text"],
.input_box input[type="password"] {
    flex-basis: 90%;
    -webkit-flex-basis: 90%;
}




/*--//login_form--*/


/*-- checkbox --*/

.remember_me {
    margin: 10px 0 10px;
}

.anim {
    position: relative;
    display: -webkit-inline-box;
    margin: 0;
}

label.anim span,
.remember_me a {
    color: #f7f3f3;
    font-size: 13px;
    letter-spacing: 0.5px;
    display: inline;
    text-transform: capitalize;
    margin-left: 10px;
}

.remember_me a {
    text-decoration: none;
}

.remember_me a:hover {
    text-decoration: none;
    color: #33bf51;
}

.remember_me ul li {
    display: inline-block;
}

.remember_me ul li:nth-child(1) {
    margin-right: 36px;
}



/*
::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}*/

.select-class {
    width: 100%;
    padding: 5em 3em;
    position: relative;
    bottom: -0.3em;
    left: 0;
    background: rgba(0, 0, 0, 0.24);
}

.select-option {
    background: #2f374c;
    padding: 3em 0;
}

.input-group {
    width: 100%;
}

.input-group input[type="text"],
select {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #ff;
    border: none;
    font-size: 14px;
    min-height: 40px;
    padding: 10px 9px 9px 9px;
    width: 100%;
    color: #555;
}

.submit_button input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    width: 100%;
    background: #f1b458;
    padding: 9px 0px;
    outline: none;
}

.submit_button input[type="submit"]:hover {
    background: #000;
}

.question-side {
    padding: 2em 0;
}

.ques1 h2,
.grid_right h2 {
    text-align: left!important;
    font-size: 2em;
    margin-bottom: 1.5em;
    position: relative;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background: #33bf51;
    padding: 5px;
}

.ques1 h2:after,
.grid_right h2:after {
    background-color: #c5c5c5;
    bottom: -15px;
    content: "";
    height: 2px;
    left: 0;
    width: 30px;
    position: absolute;
    z-index: 0;
}

.select-ques .q-1 {
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #7a7777;
    padding: 15px;
}

.ques .q-1 {
    font-size: 16px;
    text-align: left;
    padding: 15px;
    color: #0a0aff78;
}

.ques .ans p {
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #7a7777;
    padding: 0px 15px;
    line-height: 20px;
}

.ques .questions span:nth-child(2) {
    float: right;
}

.list-q {
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.questions span button {
    background: #33bf51;
    color: white;
    padding: 4px 15px;
    margin-top: -10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid gainsboro;
}

footer {
    background: black;
}

footer a {
    color: white!important;
    font-size: 18px!important;
    font-weight: 500!important;
    font-family: 'Montserrat', sans-serif!important;
    text-transform: capitalize!important;
}

.video-list ul {
    list-style: none;
    padding: 0;
}

.video-list ul li h4 {
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 25px;
    font-size: 16px;
}

.full-video h4 {
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 5px;
    font-size: 16px;
}

.video-list ul li video:nth-child(1) {
    margin-top: 15px;
}

.list-q button {
    background: #4285f4;
    border-radius: 0px;
    margin: 0;
}

.search {
    float: left;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    width: 65%;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.search input.sub-search {
    background: #fff;
    border: none;
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
    width: 92%;
    float: left;
    color: #000;
}

.search input[type="submit"] {
    background: url(../img/search.png)no-repeat 18px 3px;
    background-size: 27px;
    border: none;
    outline: none;
    width: 8%;
    padding: 10px 0;
    float: right;
}
.thead-light{
        background: #33bf51;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}
.table>tbody>tr {

    font-size: 14px;
}
.table>tbody>tr>td>a {
color: #337ab7!important;
}
.table{
    border: 1px solid silver;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 600px) and (min-width: 320px) {
    .search input.sub-search {
        width: 85%!important;
    }
    .search input[type="submit"] {
        width: 15%!important;
    }
    .search {
        width: 94%!important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
    .search input.sub-search {
        width: 90%!important;
    }
    .search input[type="submit"] {
        width: 10%!important;
    }
    .search {
        width: 94%!important;
    }
}